html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}

//general 
button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
}